$color-accent: #3e9cdc;
$text: #fff;
$alt-text: #000000;
$text-gray: #bbb;
$background-header:rgba(16, 16, 29, 0.9);
$background-form:rgba(255, 255, 255, 0.85);
$form-text:#272733;
$footer-text:#c3c3c3;